/* Adding a new English font family needs to keep "public\fonts\fonts.ts" in sync */
/* Sans Serif Fonts */
@font-face {font-family: "Inter"; src: url("/fonts/Inter-Regular.ttf");}
@font-face {font-family: "Inter"; src: url("/fonts/Inter-Bold.ttf"); font-weight: bold;}
@font-face {font-family: "Lato"; src: url("/fonts/Lato-Regular.ttf");}
@font-face {font-family: "Lato"; src: url("/fonts/Lato-Bold.ttf"); font-weight: bold;}
@font-face {font-family: "Roboto"; src: url("/fonts/Roboto-Regular.ttf");}
@font-face {font-family: "Roboto"; src: url("/fonts/Roboto-Bold.ttf"); font-weight: bold;}
